<h1 class="word title is-1"><%= @view_model.word.title %></h1>
<h2 class="subtitle is-2"><%= @view_model.word.subtitle %></h2>

<p class="quiz-description subtitle is-5">
  ¿De qué grupo es el verbo?
</p>

<%= form_with(model: @view_model, url: @view_model.form_path, local: true, method: :put) do |f| %>
  <div class="field has-addons">
    <div class="control is-expanded">
      <%= f.number_field :answer, autofocus: true, autocomplete: 'off', class: 'input' %>
    </div>

    <div class="control">
      <%= f.submit 'Submit', class: 'button is-info' %>
    </div>
  </div>
<% end %>
