<h1 class="word"><%= @view_model.word.title %></h1>
<h2><%= @view_model.word.subtitle %></h2>

<p class="quiz-description">
  ¿De qué grupo es el verbo?
</p>

<%= form_with(model: @view_model, url: @view_model.form_path, local: true, method: :put) do |f| %>
  <%= f.number_field :answer, autofocus: true, autocomplete: 'off' %>
  <%= f.submit 'Submit' %>
<% end %>
