<h1 class="word"><%= @word.wordable.name %></h1>

<%= form_with(model: @word, url: [:category, :quiz], local: true) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.text_field :answer, autofocus: true, autocomplete: 'off' %>
  <%= f.submit 'Submit' %>
<% end %>
