<% content_for :page_title, t('.page_title') %>
<div class="login">
  <div class="login-card">
    <div class="card-title">
      <h1>
        <%= t('.title') %>
      </h1>
    </div>
    <div class="content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "email", type: 'text', class: 'email' %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "password", type: 'password', class: 'password' %>
        </div>
        <div class="level options">
          <div class="checkbox level-left">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me, id: 'checkbox',class: 'regular-checkbox' %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="actions">
          <div class="field">
            <%= f.submit t('.sing_in'), class: 'button' %>
          </div>
          <div class="field">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

